html{
  --headerFont: 'Montez', cursive;
  --primaryColor: #b48c80;
  --secondHeaderFont: 'Suranna', serif;
  --brightBlack: #252525;
}
body {
      font-family: 'Montserrat-UltraLight',
      Arial,
      sans-serif;
      font-size: 15px;
      line-height: 23px;
      color: #777777;
      background-color: #fff;
      height: 200vh;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
